{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
  {% ifequal ENV "dev" %}
  <link rel="stylesheet" href="{% static 'bower-components/bootstrap/dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{{ CSS_DIRECTORY }}style.css" />
  {% endifequal %}
  <title>{% block title %}Timeatwork.net{% endblock %}</title>
</head>

<body>

  <header>Timeatwork.net</header>
  <nav>
    {% block nav %}
    <ul>
    </ul>
    {% endblock %}
  </nav>

  <section id="content">
    {% block content %}{% endblock %}
  </section>

  <footer></footer>
</body>
</html>
